test-results
node_modules
playwright-report

# Output
.output
.vercel
.netlify
.wrangler
.playwright-report
services/web/.svelte-kit/
.svelte-kit/
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log

services/svd-training/gcs-credentials.json
services/recommender/gcs-credentials.json
services/recompute/gcs-credentials.json
services/web/gcs-credentials.json
services/web/web-recommender-caller-key.json

services/svd-training/svd-training-venv
services/recommender/recommender-venv
services/recompute/recompute-venv